*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.body{
    background-color: hsl(30, 30%,92%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
}
.main{
    height: 450px;
    width: 600px;
    background-color: white;
    display: flex;
}
.inner-div-left{
    flex: 0.5;
    background-image: url(./product-preveiw-card-component-main/images/image-product-desktop,jpg/);
    background-size: 400px 200px;
}
.inner-div-right{
    flex: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.container .info h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}
.container .info h3{
    font-size: 3rem;
    margin-bottom: 1.5rem;
}
.container .info h4{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.container .info p{
    font-size: 1.2rem;
    /*max-width: 60%; */
}
.container .info a{
    text-decoration: none;
    display: inline-block;
    background-color: white;
    border-radius: 4px;
    font-size: 1rem;
    padding: o.5cm 2em;
    margin-top: 2rem;
}
button{
    background-color: hsl(158, 36%, 37%);
    color: white;
    outline: none;
    border: none;
    padding: 10px 0px;
    border-radius: 7px;
}
@media only screen and (max-width: 768px){
    html{
        font-size: 10px;
    }
}
